@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow: overlay;
    font-family: 'Rubik', sans-serif;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #0000ff;
    border-radius: 10px;
}
.loader-container {
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    opacity: 1;
    transition: all 1000ms;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.rotatingLoader {
    font-family: "Tiro Devanagari Marathi", serif;
    /* width: 5em; */
    /* height: 5em; */
    font-size: 2rem;
    color: #0000ff;
    border-radius: 50%;
    /* border-top: 5px solid blue; */
    /* animation: round 700ms linear infinite; */
    transition: all 200ms;
    font-style: italic;
    opacity: 0;
}
.transformtranslate {
    transform: translateY(-120vh);
}

@keyframes round {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}