
.blog-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
    margin-bottom: 100px;
    min-height: 90vh;
}

.blog-main-header {
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    margin: 60px;
}

.blog {
    width: 70%;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px #939393;
}

.blog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border-top: solid 1px black; */
    padding: 40px 0px;
    font-size: 20px;
    cursor: pointer;
}
.blog-name{
    font-size: 20px;
    transition: font-size ease 1000ms;
    width: 80%;
}

.blog-date {
    color: #939393;
    display: block;
    font-size: 15px;
    font-weight: 200;
    width: 15%;
    text-align: end;
}

.blog-description {
    font-size: 0px;
    transition: all ease 500ms;
    text-align: start;
}
.show-blog {
    font-size: 18px;
    padding-bottom: 40px;
    font-weight: 300;
}

.last-blog {
    border-bottom: solid 1px #939393;
}

code {
    display: block;
    padding: 0;
    border-radius: 10px;
    transition: padding ease 200ms;
    background-color: transparent;
}

.big-title {
    font-size: 45px;
    font-weight: 500;
}

.hide-code {
    padding: 40px 20px;
    color: green;
    background-color: black;
}

.imgcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogimg {
    width: 0%;
    transition: width ease 300ms;
    text-align: center;
}

.showimg {
    width: 50%;
}

.blog-description a{
    margin: 0;
    text-decoration: underline;
    color: blue;
}

@media screen and (max-width:600px) {
    .blog{
        padding: 10px 20px;
        width: 90%;
    }
    .blog-title{
        flex-direction: column;
    }
    .blog-name {
        width: 100%;
        margin-bottom: 10px;
    }
    .blog-date {
        width: 100%;
    }
    .showimg {
        width: 80%;
    }
}