.cv-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d2d1d1;
}
.cv-container img{
    height: 90vh;
    margin-top: 50px;
}
@media screen and (max-width:600px) {
    .cv-container img{
        width: 100vw;
        height: 130vw;
        margin-top: 80px;
    }
}