.main-container {
    position: relative;
    top: 70px;
}
.absolute {
    position: absolute;
    top: 6vw;
    left: 7vw;
    width: 80vw;
    cursor: pointer;
    transition: left 1s;
    height: 40vh;
    z-index: 5;
    animation: 1s ease-out 0s 1 onload;
}
.main-container a:hover {
    background-color: #1a0da2;
}
.main-container a {
    position: absolute;
    top: 300px;
    left: 7vw;
    z-index: 5;
    transition: background-color 300ms;
    border: none;
    background-color: #0818c9;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
}
.heading {
    font-size: 5em;
    font-weight: 600;
}
.absolute:hover .subtxt{
    left: 60px;
}
.absolute:hover{
    left: 5vw;
}
.main-container button:hover .subtxt{
    left: 60px;
}
.subtxt {
    line-height: 35px;
    margin-top: 10px;
    font-size: 1.2em;
    position: absolute;
    left: 0;
    transition: left 1s;
}
/*          ABOUT         */
.about-container {
    background-color: #090078;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5C69FF", endColorstr="#090078", GradientType=1 );
    font-size: 1.2em;
    font-weight: 200;
    line-height: 32px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    border-radius: 140px 0 0 0;
    color: white;
}
.head {
    font-size: 1.7em;
    font-weight: 500;
    /* color: white; */
}
.flex-justify-center {
    display: flex;
    justify-content: center;
}
.first {
    display: flex;
    justify-content: center;
    padding: 140px 0px;
}
.about {
    padding: 20px 30px;
    margin-right: 50px;
    width: 700px;
    border-radius: 30px;
}

.book-img-container{
    cursor: pointer;
    box-shadow: 10px 10px 26px 11px rgba(0,0,0,0.4);
    height: max-content;
    border-radius: 30px;
}
.book-img{
    width: 320px;
    border-radius: 30px;
}
.tag-list {
    padding-inline: 0;
    list-style: none;
    gap: 1rem;
}
.tag-list li {
    padding: 1.1rem;
    transition: transform 500ms;
}
.tag-list li:hover {
    transform: translateY(-15px);
}
.tech-inner li img {
    height: 80px;
}
.scroller {
    width: 85%;
    margin-bottom: 40px;
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, #090078 20%, #090078 80%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, #090078 20%, #090078 80%, transparent);
}
.tags-scroller-wrapper {
    padding: 140px 0px;
}
.tags_scroller_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tags_scroller {
    /* border: 5px solid lime; */
    width: 85%;
    overflow: hidden;
    mask: linear-gradient(90deg, transparent, #090078 10%, #090078 90%, transparent);
    -webkit-mask: linear-gradient(90deg, transparent, #090078 10%, #090078 90%, transparent);
}
.scroller .scroller__inner {
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 50s linear infinite;
}
.tags_scroller__inner {
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 40s linear infinite;
}
.antiscroll {
    animation: scroll 40s reverse linear infinite;
}
.red {
    background-color: red !important; 
}
@keyframes scroll  {
    to {
        transform: translate(-50%);
    }
}
.mobileview {
    display: none;
}
.mobileview .projects-head {
    padding-top: 100px;
}

.projects-head {
    font-size: 2.4em;
    font-weight: 500;
    /* padding-top: 130px; */
    text-align: center;
}
.projects-subtxt {
    font-size: 0.3em;
    font-weight: 300;
}
.card:nth-child(odd) {
    position: relative;
    right: 330px;
}
.card:nth-child(even) {
    position: relative;
    left: 330px;
}
.hobbys {
    width: auto;
    padding: 20px 50px;
    border-radius: 30px;
}
.hobby-list {
    display: flex;
    justify-content: space-evenly;
}
.hobby-img-container{
    cursor: pointer;
    margin-right: 100px;
    height: max-content;
    border-radius: 30px;
    box-shadow: 10px 10px 26px 11px rgba(0,0,0,0.4);
}
.hobby-img{
    width: 450px;
    border-radius: 30px;
}
ul {
    margin: 0px;
}

.flex-justify-center .head {
    margin-bottom:20px;
    font-size: 2em;
}

.socials {
    width: 700px;
    padding: 20px 20px;
    border-radius: 30px;
    margin-right: 80px;
}
.social-img-container{
    cursor: pointer;
    box-shadow: 10px 10px 26px 11px rgba(0,0,0,0.4);
    height: max-content;
    border-radius: 30px;
}
.social-img{
    width: 350px;
    border-radius: 30px;
}
.linkss svg{
    transition: fill 300ms ease-in;
    fill: #b4b4b4;
}
.linkss:hover svg {
    fill: white;
}
.linkss-container{
    display: flex;
}
.linkss-container div{
    display: flex;
    align-items: center;
}
@media screen and (max-width:600px) {
    .mobileview {
        display: block;
    }
    #projects {
        display: none;
    }
    .heading {
        font-size: 30px;
        width: 250px;
    }
    .subtxt {
        font-size: 17px;
        line-height: 22px;
        margin-top: 80px;
        color: white;
        top: 115px;
    }
    .about-container {
        border-radius: 30px 0 0 0;
        line-height: 28px;
        padding-bottom: 40px;
    }
    .main-container a {
        margin-top: 10vw;
        font-size: 14px;
        padding: 12px;
        top: 70px;
    }
    .absolute {
        height: 40vh;
        
    }
    .head {
        margin-top: 250px;
        font-size: 30px;
        margin-top: 0;
    }
    .about-container p {
        font-size: 20px;
        font-weight: 200;
    }
    .about {
        padding: 30px;
        width: 90%;
        left: 20px;
        margin: 0;
    }
    .projects-head {
        font-size: 30px;
        margin: 0px;
        padding-top: 50px;
        line-height: normal;
    }
    .scroller {
        /* border: 5px solid lime; */
        width: 95%;
        overflow: hidden;
        mask: linear-gradient(90deg, transparent, #090078 10%, #090078 90%, transparent);
        -webkit-mask: linear-gradient(90deg, transparent, #090078 10%, #090078 90%, transparent);
    }
    .tech-inner li img {
        /* width: 80px; */
        height: 60px;
    }
    .hobbys {
        padding: 30px;
        width: 80%;
        left: 20px;
    }
    .hobby-list {
        display: block;    
    }
    .tag {
        padding: 15px;
        margin: 5px;
        font-size: 20px;
    }
    .tags {
        width: 90vw;
    }
    .socials {
        padding: 30px;
        margin: 0;
        width: 80%;
        left: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .socials p{
        text-align: center;
    }
    .book-img-container{
        display: none;
    }
    .social-img-container{
        display: none;
    }
    .hobby-img-container{
        display: none;
    }
    .linkss-container{
        flex-direction: column;
    }
}