.pro-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px 0;
}

.card:hover {
    transform: translateY(-30px) translateX(10px);
    background-color: #2889ff;
}

.card {
    transition: transform 300ms, background-color 300ms, box-shadow 300ms;
    max-width: 420px;
    height: 320px;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    background-color: #0f74ee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    -webkit-box-shadow: -7px 10px 38px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 10px 38px 0px rgba(0,0,0,0.75);
    box-shadow: -7px 10px 38px 0px rgba(0,0,0,0.75);
}

.card a img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.pro-img-container {
    margin: 15px 10 0 10 !important;
}
::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #383838;
    border-radius: 10px;
}
.projects-head {
    font-size: 50px;
    font-weight: 500;
    margin-top: 120px;
    text-align: center;
}

@media screen and (max-width: 600px) {

    

    .pro-container {
        margin-bottom: 50px;
    }
    .row {
        flex-direction: column;
        margin: 0;
        width: auto;
    }
    .card {
        width: 85vw;
        margin-top: 50px;
    }
}